.DS_Store
bin/
node_modules/
dist/
npm-debug.log
yarn-error.log
spring/target/libs
spring/de.poepinghaus.jpa.CORE/target
spring/de.slenderiser.domain.slsapmon.restservice/target
spring/de.slenderiser.jpa.CORE/target
spring/LC2All/target
spring/LC2JarLoader/target
spring/LC2SWTJarLoader/target
spring/LC2SWTJarLoader/target/libs
spring/org.letztechance.Config/target
spring/org.letztechance.domain.swt.lib/target
spring/org.letztechance.Libs/target
spring/org.letztechance.Service/target
spring/org.letztechance.XStreamUtils/target

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.class
*.jar
/.metadata/
